.card {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.31);
    border-radius: $generalBorderRadius;
    padding-top: 5px;
    margin: 15px 0;
    border: rgba(0, 0, 0, 0.28) solid 1px;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        border-radius: $generalBorderRadius;
        background: #fafafa;
        box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.46);
    }
    .graphics {
        transition: all .5s;
        overflow: hidden;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &.unActive,
        &.ended {
            border-bottom: solid #b5b4b4 1px;
        }
    }
    svg.donut {
        margin: 10px auto 16px auto;
        circle {
            transition: all 1s
        }
    }
    h3 {
        @extend %font-p-md;
        padding-left: 15px;
    }
    .rating-circle {
        margin: auto;
    }
    .stage-name {
        @extend %font-p-xxs;
        text-align: center;
        margin-top: 12px;
        span {
            font-weight: 700;
        }
    }
    .total-milestones,
    .milestones-progress,
    .total-milestones-piles {
        text-align: center;
        margin-top: 12px;
        font-weight: 700;
        margin-bottom: 0;
        color: #999999;
        padding: 5px 0;
        span {
            font-weight: 700;
        }
    }
    .total-milestones {
        background-color: #b5b4b4;
        color: $color-white;
    }
    .milestones-progress,
    .total-milestones-piles {
        border-bottom: solid #b5b4b4 1px;
        background-color: #f8f8f8;
        margin-top: 0;
    }
    .buttom-progress {
        @extend %font-p-xs;
        text-align: center;
        font-weight: 700;
        color: #fd605b;
        cursor: pointer;
        padding: 7px 0;
        margin: 0;
        background-color: #fff;
        &.unActive {
            color: #53aa0f
        }
        &:hover {
            background-color: #ededed;
        }
    }
    &.ended {
        box-shadow: none;
        .milestones-progress,
        .total-milestones-piles {
            background-color: inherit;
        }
        h3 {
            color: #6d6e70;
            opacity: 0.7;
        }
        p {
            color: #6d6e70;
            opacity: 0.5;
        }
    }
}