.container-stars {
    margin-bottom: 11px;
    padding-left: 15px;
    &:before,
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    svg.start {
        margin: auto;
        float: left;
        padding-right: 2.5px;
        cursor: pointer;
    }
}