$color-lengua:#c6467a;
$color-ingles:#c6467a;
$color-arte:#c6467a;
$color-historia:#c6467a;
$color-deporte:#c6467a;
$color-musica:#c6467a;
$color-matematica:#c6467a;
$color-Bilogia:#c6467a;
$color-quimica:#c6467a;

$color-black-dark:#3b3a3c;
$color-black-normal:#352f34;
$color-grey-dark:#51454f;
$color-grey-light:#f8f8f8;
$color-white:#fff;
$color-main:#ff8a00;

$generalBorderRadius:3px;
